<footer>
    <div class="footer">
        <div class="about">
            <h1>About us</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ut debitis voluptas alias mollitia unde rem eveniet doloribus deleniti et omnis, amet est? Minus dolores repellendus libero veniam voluptate eligendi?
            In voluptate et magni a aliquam eos possimus vel minus sed incidunt dolor repudiandae, consectetur rerum amet alias facilis nihil laborum? Dicta a tenetur sed qui! Expedita praesentium tempora perferendis!
            Aperiam quam sapiente, pariatur veniam omnis nemo dicta quia reiciendis iste laudantium minus aliquam ipsa quisquam quo vero. Ratione corporis facilis deserunt numquam iusto laboriosam officia nobis quidem, consectetur cupiditate.
            Nostrum accusamus cumque soluta, similique, ipsum commodi temporibus illo iste velit dolorem rem, sit distinctio doloribus. Ad beatae, provident quasi voluptatibus ratione laborum magni nisi. Harum odit temporibus doloremque amet.
            Harum possimus amet repellat soluta nostrum officia consectetur, magni cum. Eveniet, cum. Reprehenderit cupiditate ipsam itaque rerum sunt eum eveniet nulla temporibus facere, quasi id obcaecati natus cumque ab aliquam.</p>
        </div>
        <div class="info">
            <h3>Contact us</h3>
            <ul>
                <li>
                    PHONE NO:555555555
                </li>
                <li>
                    EMAIL:abc@gmail.com
                </li>
            </ul>
            <div class="handles">
                <div class="icons">
                    <i class="fa-brands fa-github"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <hr>
                </div>
            </div>
            <div class="logo">
                <img src="image/farmer.png" alt="">
            </div>
        </div>
    </div>
</footer>