<%-layout("./layouts/boilerplate.ejs")%>
<body>
    
      <div class="card text-bg-dark">
        <img src="..." class="card-img" alt="...">
        <div class="card-img-overlay main">
          <h2 class="card-title">Krishi-Udhaar</h5>
        </div>
      </div>
      <div class="facilities mt-4">
        <div class="card show" style="width: 25rem;">
            <img src="image/crops.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Crop Monitoring</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
          <div class="card show" style="width: 25rem;">
            <img src="image/resource.jpg" class="card-img-top " alt="..." style="height: 16.375rem;">
            <div class="card-body">
              <h5 class="card-title">Resource optimization</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
          <div class="card show" style="width: 25rem;">
            <img src="image/pest.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pest Detection</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
          <div class="card show" style="width: 25rem;">
            <img src="image/weather.jpg" class="card-img-top " alt="...">
            <div class="card-body">
              <h5 class="card-title">Weather Report</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>

      
</body>
</html>